/* FONT FACE */

@font-face {
    font-family: 'urbanistregular';
    src: url('../fonts/urbanist-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/urbanist-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Main nodes changes */
/* div{
    border: red 1px solid;
} */
body {
    font-family : 'urbanistregular';
    background-color: #16151a;
    max-width : 1440px;
}

header {
    background-image: url(../img/bg-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* border: red 1px solid; */
    padding : 0;
}
h1{
    font-weight: 900;
    font-size : 5rem;
    color:#3bc8e7;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color : #fff
}
a:visited{
    text-decoration: none;
    color : #fff
}
/* HEADER */
.container-fluid{
    padding: 0;
}
.navbar-nav{
    height : 64px;
    background-color: #fff;
}
.menu-btn{
    width : 64px;
    height: 64px;
    background-color: #3bc8e7 ;
}
.menu-btn img{
    width : 20px;
}
.logo img{
    width: 25px;
}
.logo{
    flex-wrap: nowrap;
}
.brand{
    font-weight: 600;
    color:#3bc8e7;
    line-height: 1.2rem;
    margin: 0;
}
.sub-brand{
    font-weight: 200;
}
#catchphrase{
    height:calc(100vh - 64px);
    padding-left: 5rem;
    padding-bottom: 5rem;
}
#searchfield{
    background-color: #f0f5f9;
    padding: 2px;
}
#searchfield input{
    /* flex-grow : 2; */
    border: none;
    background-color: #f0f5f9;
    padding: 0.3rem;
    padding-left : 1rem;

}
#searchfield button{
    border : none;
    background-color: #3bc8e7;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}
#account img{
    height : 35px;
    margin-left : 3rem;
    margin-right : 1rem;
}
#login{
    color:#3bc8e7;
    font-weight: 300;
}
::placeholder{
    color:#3bc8e7;
    font-size: 0.9rem;
}
.start-listening {
    background-color: #3bc8e7;
    border: solid 2px #3bc8e7;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top : 0.7rem;
    padding-bottom: 0.7rem;
    color : #fff;
    font-weight: 600;
}
.subscribe{
    border: solid 2px #3bc8e7;
    color: #fff;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    padding-top : 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: 600;
    font-size: 0.9rem;
}
